#OutterContainer {
	width: 90%;
	height: 90%;
	margin: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 0;
	}

#UsersContainer {
	display: inline-block;
	border-style: none solid none none;
	border-color: black;
	border-width: 1px;
	vertical-align: top;
	width: 14.7%;
	height: 100%;
	padding: 0;
	margin: 0;
	}

#ConversationWrapper {
	display: inline-block;
	vertical-align: top;
	width: 85%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	}
	
#conversation {
	margin-bottom: 50px;
	overflow-y: scroll;
	height: 90%;
	}
	
#data {
	width: 80%;
	padding: 1%;
	}
	
#datasend {
	display: inline-block;
	margin-left: 20px;
	background: black;
	color: white;
	padding: 7px;
	border-radius: 5px;
	}
	
#CommentContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: grey;
	padding: 10px 0 10px 0;
	}
	
.Comment {
	text-align: left;
	margin: 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	-webkit-box-shadow: 5px 5px 5px #888;
	padding: 5px;
	}

.CommentUser {
	font-weight: bold;
	}
	
.DateTime {
	font-size: 0.8em;
	}
	
.Callout {
	font-weight: bold;
	color: blue;
	}
	
	
.LoadMore {
	text-align: left;
	margin: 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background: black;
	color: white;
	font-weight: bold;
	-webkit-box-shadow: 5px 5px 5px #888;
	padding: 5px;
	}
	
